.container-fluid {
	padding: 0;
}
/* ------------------------ [ Шапка сайта [Меню ]] -------------------------- */
.logo {
	width: 60px;
}

@media screen and (max-width: 575px) {
	.img-block {
		height: 200px;
	}
	.btn_menu {
		display: none;
	}
	.a_menu {
		float: right;
		font-size: 23px;
		margin-top: 25px;
		margin-left: 10px;
	}
	.logo {
		margin-left: 10px;
		margin-top: 14px;
	}
}

@media screen and (min-width: 576px) {
	.logo {
		margin-top: 13px;
		margin-left: 10px;
	}
	.btn_menu {
		display: none;
	}
	.a_menu {
		float: right;
		font-size: 23px;
		margin-right: 10px;
		margin-top: 24px;
		margin-left: 5px;
	}
	.img-block {
		height: 250px;
	}
}

@media screen and (min-width: 768px) {
	.a_menu {
		display: none;
	}
	.btn_menu {
		display: block;
		margin-top: 24px;
		margin-right: 0px;
	}
	.img-block {
		height: 270px;
	}
	.logo {
		margin-top: 14px;
		margin-left: 0px;
	}
}

@media screen and (min-width: 991px) {
	.logo {
		margin-top: 13px;
		margin-left: 10px;
	}
	.img-block {
		height: 280px;
	}
	.a_menu {
		display: none;
	}
	.btn_menu {
		margin-top: 24px;
		margin-right: 10px;
	}
}

@media screen and (min-width: 1199px) {
	.logo {
		margin-top: 11px;
		margin-left: 10px;
	}
	.a_menu {
		display: none;
	}
	.btn_menu {
		margin-top: 24px;
		margin-right: 10px;
	}
	.img-block {
		height: 300px;
	}
}
/* ---------------------- [ Меню после слайдера ] --------------------------- */
.s-menu {
	text-align: center;
	box-shadow: 0 -2px 7px 1px gray;
}

.s-menu > ul {
	margin: 0;
	padding: 0;
}

.s-menu > ul > li {
	display: inline-block;
	padding: 15px 35px;
	border-bottom: 3px solid transparent;
}

.s-menu > ul > li > a {
	color: black;
}

.s-menu > ul > li > a:hover {
	color: black;
	text-decoration: none;
}

.s-menu > ul > li:hover {
	background-color: silver;
	border-bottom: 3px solid gray;
}

.m-menu {
	text-align: center;
}

.m-menu > ul {
	margin: 0;
	padding: 0;
}

.m-menu > ul > li {
	list-style: none;
	padding: 15px;
}

.m-menu > ul > li > a {
	color: black;
}

.m-collapse {
	display: block;
	text-align: center;
	color: black;
	font-size: 18px;
	padding: 15px;
	box-shadow: 0 -2px 7px 1px gray;
}

@media screen and (max-width: 850px) {
	.m-menu, .s-menu {
		display: none;
	}
}

@media screen and (min-width: 851px) {
	.m-collapse, .m-menu {
		display: none;
	}
}
/* ------------------------------ [ Центр ] --------------------------------- */
#container_new {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

@media screen and (max-width: 1280px) {
	#container_new {
		width: 93%;
	}
}
/* -------------------------------------------------------------------------- */
.t-one {
	width: 100%;
	height: 100%;
	margin-top: 50px;
}

.new_one, .new_two, .new_tree {
	display: block;
	height: 250px;
	background-size: 100% cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 2%;
	box-shadow: 2px 1px 11px -4px gray;
}

.new_one {
	width: 40%;
	float: left;
	background-image: url(https://pandao.ru/storage/46d68248150688f06b564ebcde6484e82e466c38.jpg);
}

.new_two {
	width: 29%;
	background-image: url(https://pandao.ru/storage/9e9908e4c815609ea8f875fd78162e326d79f1a6.jpg);
	float: left;
	margin-left: 12px;
}

.new_tree {
	width: 29%;
	background-image: url(https://pandao.ru/storage/9be094cf48a07a1683da26a6bbea673e31398495.jpg);
	float: right;
}

.new_one:hover, .new_two:hover, .new_tree:hover {
	box-shadow: 2px 1px 15px -4px gray;
}

@media screen and (max-width: 800px) {
	.t-one {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	.new_one {
		width: 100%;
		margin-bottom: 23px;
	}
	.new_tree, .new_two {
		width: 49%;
	}
	.new_tree {
		float: left;
	}
	.new_two {
		float: right;
	}
}
/* -------------------------------------------------------------------------- */
.t-two {
	margin-top: 20px;
}

.col-block {
	width: 101%;
	height: 100px;
	background-color: red;
	border-radius: 4%;
	text-align: center;
	padding-top: 33px;
}

@media screen and (max-width: 999px) {
	.col-block {
		margin-top: 20px;
	}
	
}
/* -------------------------------------------------------------------------- */

.t-i-block {
	width: 101%;
	border-radius: 2%;
	height: 100%;
	background-color: white;
	box-shadow: 1px 5px 15px -4px gray;
}

.t-i-img {
	width: 100%;
	height: 150px;
	border-top-left-radius: 2%;
	border-top-right-radius: 2%;
	background-color: green;
}

.t-z-2 {
	font-size: 18px;
	text-align: center;
}

.t-p {
	text-align: center;
	margin-top: -11px;
	font-size: 17px;
	font-weight: 500;
}

.t-p > span {
	color: red;
	text-decoration: line-through;
}

.t-b {
	display: block;
	text-align: center;
	margin-top: -10px;
}
/* -------------------------------------------------------------------------- */

.t-f-1, .t-f-2 {
	display: block;
	width: 49%;
	height: 250px;
	background-color: red;
	border-radius: 1%;
}

.t-f-2 {
	float: right;
}

.t-f-1 {
	float: left;
}

.t-f-1:hover, .t-f-2:hover {
	text-decoration: none;
}

.t-f-t {
	margin-top: 125px;
	font-size: 20px;
}

@media screen and (max-width: 980px) {
	.t-five {
		display: none;
	}
}
/* -------------------------------------------------------------------------- */
.button-z {
	display: block;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	padding: 15px 55px;
	border: 1px solid gray;
	border-radius: 3%;
}
.button-z:hover {
	text-decoration: none;
	color: gray;
}
/* -------------------------------------------------------------------------- */
.footer_conat {
	font-size: 30px;
	margin-top: -10px;
	margin-right: 10px;
}

@media screen and (max-width: 767px) {
	.p-z {
		text-align: center;
	}
	.f-s {
		margin-top: -15px;
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	.f-s {
		float: right;
		margin-top: -12px;
	}
}
/* -------------------------------------------------------------------------- */